*{
    padding: 0;
    margin: 0;
    font-family: monospace;

}

ul{
    list-style: none;
    background: #22438C;
}

ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
 ul li ul.dropdown {
    width: 1005;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
 }

 ul li a:hover {
    background: #c0cc1b;
 }

 ul li:hover ul.dropdown{
    display: block;
 }

 .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
 }

 .down {
    transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
 }

 .down:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(-135deg);
 }